node_modules
dist
lib
public
coverage
.vscode
.DS_Store
*.log
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.env.development.local
*.env.test.local
*.env.production.local  
*.tsbuildinfo
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
*.swp
*.swo
*.bak
*.tmp

.eslintrc-auto-import.cjs
auto-imports.d.ts
components.d.ts